* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    background-color: #464646;
    color: gray;
}

header{
    padding: 20px;
    position: fixed;
    background-color: #2f2f2f;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    .title{
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        span{
            color: orangered;
        }
    }
    .subtitle{
        text-transform: uppercase;
        font-size: 12px;
        position: absolute;
        top: 35px;
        left: 60px;

    }
    .menu{
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        margin-right: 20px;
        div{
            margin-right: 15px;
        }
        .option{
            cursor: pointer;
        }
        .option:nth-of-type(1){
            color: white;
        }
    }
}

main {
    width: 1100px;
    position: relative;
    top: 80px;
    margin: 0 100px;
    .main-text{
        color: white;
        font-size: 40px;
        letter-spacing: 15px;
        text-transform: uppercase;
        position: absolute;
        right: 200px;
        top: 130px;

    }
    .images{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            border: 25px solid #2f2f2f;
            position: relative;
            top:0;
            bottom: 0;
        }
        img:nth-last-of-type(1){
            top: 150px;
            right: 150px;
        }
    }
    .description{
        width: 250px;
        position: absolute;
        right: 100px;
        top: 200px;
        font-size: 10px;
        line-height: 20px;
        .more{
            color: white;
            cursor: pointer;
        }
    }
}