@import "variables";

*{
    margin: 0;
}

body { 
    font-family: Roboto, Arial, sans-serif; 
}

header{
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px gray;
    z-index: 100;
    .logo{
        display: flex;
        align-items: center;
        font-size: 20px;
        i{
            color: red;
        }
        .name{
            font-weight: bold;
        }
        .pl{
            color: gray;
            font-size: 10px;
            position: relative;
            bottom: 6px;
        }
    }
}

.start{
    display: flex;
    align-items: center;
    .fa-bars{
        font-size: 20px;
        margin-right: 20px;
    }
}
.center{ //SEARCH INPUT ZROBIONE
    position: relative;
    input{
        width: 500px;
        padding: 10px;
        border: 1px solid lightgray;
    }
    .search{
        border: 1px solid lightgray;
        background-color: rgba(189, 189, 189, 0.183);
        padding: 10px 20px;
        position: absolute;
        right: 0;
    }
}

.end{
    display: flex;
    button{
        margin-right: 20px;
    }
    i{
        font-size: 20px;
    }
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $login-color;
    padding: 10px 20px;
    color: $login-color;
    text-transform: uppercase;
    font-weight: bold;
    i{
        font-size: larger;
        margin-right: 10px;
    }
}

.login-info{
    margin: 10px 30px;
    p{
        margin-bottom: 15px;
    }
}

button{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

#body{
    position: relative;
    top: 60px;
    display: flex;
}

#left-section{
    background-color: white;
    max-width: 400px;
}
.link-group{
    padding: 10px;
    border-bottom: 1px solid gray;
    i{
        margin-right: 10px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        line-height: 45px;
        padding-left: 20px;
    }
    .header{
        padding-left: 20px;
    }
}

#main-section{
    background-color: rgb(238, 238, 238);
    .buttons{
        background-color: white;
        border-bottom: 1px solid gray;
        padding: 10px;
        display: flex;
        align-items: center;
        button{
            background-color: rgba(206, 206, 206, 0.438);
            border: 1px solid gray;
            border-radius: 20px;
            padding: 5px 10px;
            margin-right: 10px;
        }
        button:nth-of-type(1){
            background-color: black;
            color: white;
        }
        button:hover{
            background-color: black;
            color: white;
        }
    }
}

.main-movie-section{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border-bottom: 1px solid gray;
    .header{
        grid-column: 1 / 5; //zajmuje kolumny od 1 do 4
        font-size: 20px;
        color: black;
        text-transform: none;
        font-weight: normal;
        width: 100%;
    }
    .movie{
        .movie-frame{
            height: 150px;
            background-color: rgba(128, 128, 128, 0.568);
        }
        .avatar{
            height: 40px;
            width: 40px;
            border-radius: 90px;
            background-color: rgba(169, 169, 169, 0.484); 
            position: relative;
            display: inline-block;
            bottom: 30px;
            
        }
        .movie-info{
            position: relative;
            display: inline-block;
            font-size: 12px;
            line-height: 16px;
            max-width: 70%;
            top: 10px;
            left: 10px;
            .title{
                font-weight: bold;
            }
            .info{
                color: gray;
            }
        }
    }
}

.header{
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

$i:1;
@each $color in $movie-colors{
    .movie:nth-child(#{$i}) .movie-frame{
        background-color: $color;
    }
    $i: $i + 1 ;
}


@for $j from 1 through 4{
    .main-movie-section:nth-of-type(3){
        .movie{ 
            .movie-frame{
                background-color: gray;
            }
        }
    }
}