body{
    background-color: rgb(248, 242, 234);
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

header{
    background-color: antiquewhite;
    color: rgb(66, 66, 62);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 15px;
    box-shadow: 0 0 15px rgb(66, 66, 62);
}

.section{
    padding: 15px;
    margin: 30px;
    background-color: rgb(250, 246, 239);
    box-shadow: 5px 5px 10px rgb(184, 181, 175);
    width: 900px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    border-color: rgb(213, 203, 193);
}

form{
    margin: 10px 20px;
    legend{
        font-size: 20px;
        letter-spacing: 5px;
        color: rgb(162, 145, 124);
    }
    .form-group{ 
        color: rgb(66, 66, 62);
        padding: 10px;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: right; // +width ==> wyrównane do prawej tekst niezaleznie od inputow
        width: 550px;
        input{
            padding: 7px;
            width: 300px;
        }
    }
    button{
        color: white;
        background-color: rgb(162, 145, 124);
        border-style: none;
        text-transform: uppercase;
        font-weight: bold;
        padding: 8px 20px;
        float: right; //przesuwanie elementow (np przycisk,obraz)
    }
}

tr:nth-child(odd){
    background-color: rgba(250, 235, 215, 0.758);
}

table{
    border-collapse: collapse; /* Łączy granice komórek tabeli */
    th{
        background-color: antiquewhite;
        color: rgb(66, 66, 62);
        text-transform: uppercase;
        text-align: left;
        font-size: 15px;
        padding: 10px;
        line-height: 40px;
    }
    td{
        padding: 10px;
        vertical-align: top; /* Ustawienie wyświetlania tekstu od góry */
    }
}